.navbar-inverse .navbar-nav>li>a
	{
		color:White;
		font-weight: bold;
		font-size: 16px;
	}
.navbar-fixed-top 
	{
	    border: 0;
	    background-color:#0099FF;
		border-bottom:3px solid #0066CC;
	}

#profile
	{
		position:fixed;
		left:5px;
		top:0px;
		font-size:22px;
		color:white;
		margin-top:10px;
		font-family: 'Source Sans Pro', sans-serif;
		font-family:bold;
		font-size:30px;
		padding-top:0;
		margin-top:0;
	}

/*
 * footer
 */
#footer
{
border-top:3px solid #0066CC;
margin:0px;
background-color:#0099FF;
color:white;
font-family: 'Source Sans Pro', sans-serif;
font-family:bold;
font-size:20px;
position:fixed;
bottom:0;
padding:10px;
text-align:center;
opacity:1;
width:100%;
}
#footer p
{
color:white;
}
#bodycontainer
{
height:100%;
}